# Unnecessary files
/archive

# macOS DS
.DS_Store

# l3build
*.pdf
/build

# LaTeX aux files
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.minted
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.xml